html {
    box-sizing: border-box;
    font-size: 10px;
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;    
  }
  
  h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
    font: ;
  }
  
  .score {
    background: rgba(255,255,255,0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
  }
  
  .game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .meteor {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
  }
  
  .meteor:after {
    display: block;
    background: url(asteroid-asteroid-svgrepo-com.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
  }
  
  .alien {
    background: url('alien-svgrepo-com.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
  }
  
  .meteor.up .alien {
    top: 0;
  }
  


/*header {
    color: black;
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
    font-family: "Anton", sans-serif;
}

body {
    background-color: #EBF9FA;  
}

th {
    font-size: x-large;
    text-align: left;
}

section {
    font-family: sans-serif;
    font-size: large;
    text-align: center;
}

.scoreboard-container {
    width: 700px;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 5px color #c3c3c3;
    background-color: white;
    margin: 2.2rem auto;
}

#milliseconds {
    font-size: 3em;
}

#seconds {
    font-size: 3em;
}
  
#minutes {
    font-size: 3em;
}

#colon {
    font-size: 3em;
}

.canvas {
    width: 45%;
    height: 550px;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 5px color #c3c3c3;
    background-color: black;
    margin: 2.2rem auto; 
    padding: 1rem;
    position:relative;
    overflow: hidden;
}

#ship {
    position: absolute;
    left: 300px; 
    bottom: 60px;
}

#enemy1 {
    position:absolute;
    left: 0;
    right: 100px;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy2 {
    position:absolute;
    left: 10%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy3 {
    position:absolute;
    left: 20%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy4 {
    position:absolute;
    left: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy5 {
    position:absolute;
    left: 40%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy6 {
    position:absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy7 {
    position:absolute;
    left: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy8 {
    position:absolute;
    left: 70%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy9 {
    position:absolute;
    left: 80%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

#enemy10 {
    position:absolute;
    left: 90%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
}

:root {
    
}

#laser1 {
     position: absolute;
     left: 4.25%;
     animation: move 3s infinite linear;
     animation-delay: 3s;
}

#laser2 {
    position: absolute;
    left: 14.25%;
    animation: move 3s infinite linear;
    animation-delay: 5s;
}

#laser3 {
    position: absolute;
    left: 24.25%;
    animation: move 3s infinite linear;
    animation-delay: 3s;
}

#laser4 {
    position: absolute;
    left: 34.25%;
    animation: move 3s infinite linear;  
    animation-delay: 5s;  
}

#laser6 {
    position: absolute;
    left: 44.25%;
    animation: move 3s infinite linear;
    animation-delay: 3s;
}

#laser7 {
    position: absolute;
    left: 54.25%;
    animation: move 3s infinite linear;
    animation-delay: 5s;
}

#laser8 {
    position: absolute;
    left: 64.25%;
    animation: move 3s infinite linear;
    animation-delay: 3s;
}

#laser9 {
    position: absolute;
    left: 74.25%;
    animation: move 3s infinite linear;
    animation-delay: 5s;
}

#laser10 {
    position: absolute;
    left: 84.25%;
    animation: move 3s infinite linear;
    animation-delay: 3s;
}

#laser11 {
    position: absolute;
    left: 94.25%;
    animation: move 3s infinite linear;
    animation-delay: 5s;
}

@keyframes move
{
  0% {
    top: 0%;
  }
  100% {
    top: 100%;;
  }
}

@keyframes pause-between-iterations {
 
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }

    25.1% {
      opacity: 0;	
    }
    100% {
      opacity: 0;
    }
  }*/
