html {
    box-sizing: border-box;
    font-size: 10px;
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
  }

main *, *:before, *:after {
    box-sizing: inherit;
}

#button {
    position: relative;
    text-align: center;
    top: 55px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;    
}

h1 {
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
    color: plum;
}

h2 {
    position: relative;
    text-align: center;
    font-size: 2rem;    
    color: plum;
    top: 65px;
}

h3 {
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: plum;
    top: 65px;
}

.score {
    background: rgba(255,255,255,0.2);
    padding: 0 3rem;
    line-height: 1;
    border-radius: 1rem;
}

.game {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.meteor {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.meteor:after {
    display: block;
    background: url(asteroid-asteroid-svgrepo-com.svg) bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height:70px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.alien {
    background: url('laurent_little_green_alien.svg') bottom center no-repeat;
    background-size: 60%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition:all 0.4s;
}

.meteor.up .alien {
    top: 0;
}

#enemy4 {
    position:absolute;
    left: 80%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
    animation: move 10s infinite linear;
    animation-delay: 2s;
}

#enemy5 {
    position:absolute;
    left: 10%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10%;
    animation: move 10s infinite linear;
    animation-delay: 2s;
}

/*Spacial Background source used*/
.space {
    background: rgba(128, 0, 128, 0.1) center / 200px 200px round;
    border: 1px dashed purple;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

.stars1 {
    animation: space 180s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 25px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 50px 25px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 125px 20px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 50px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 15px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 110px 80px, 
        white, 
        rgba(255, 255, 255, 0)
      );
  }
  .stars2 {
    animation: space 240s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 75px 125px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 100px 75px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 199px 100px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 20px 50px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 100px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 5px 5px, 
        white, 
        rgba(255, 255, 255, 0)
      );
  }
  .stars3 {
    animation: space 300s ease-in-out infinite;
    background-image:
      radial-gradient(
        1px 1px at 10px 10px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1px 1px at 150px 150px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 60px 170px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        1.5px 1.5px at 175px 180px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2px 2px at 195px 95px, 
        white, 
        rgba(255, 255, 255, 0)
      ),
      radial-gradient(
        2.5px 2.5px at 95px 145px, 
        white, 
        rgba(255, 255, 255, 0)
      );
  }

  @keyframes space {
    40% {
      opacity: 0.75;
    }
    50% {
      opacity: 0.25;
    }
    60% {
      opacity: 0.75;
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* Using animation delay key frames cited to move ships as an extra feature*/
@keyframes move
{
  0% {
    top: 0%;
  }
  100% {
    top: 100%;;
  }
}
